body {
    background-color: rgb(202, 72, 141);
    font-family: Arial, sans-serif;
    text-align: center;
}

h1{
    color: rgb(201, 50, 130);
}

p{
    font-size: 18px;
    color: rgb(204, 28, 122);
}
