body {
    background-color: rgb(228, 126, 180);
    font-family: Arial, sans-serif;
    text-align: center;
}

h1{
    color: rgb(230, 117, 177);
}

p{
    font-size: 18px;
    color: rgb(231, 53, 148);
}
